.bn_contain {
    padding: 0 100px;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 20px;
    height: 400px;
}

.bn_logo {
    padding: 70px;
}
.bn_logo img {
    width: 400px;
}
.bn_logo h2 {
    margin-top: 20px;
    line-height: 50px;
    font-size: 32px;
    font-family: 'SUIT Variable', sans-serif;
}
.bn_swiper {
    padding: 20px;
}
.bn_swiper_content {
    height: 100%;
    padding: 20px;
}
