.bn_contain {
    padding: 0 100px;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 20px;
    height: 400px;
}

.bn_logo {
    margin: 0 auto;
    padding: 20px;
    background-color: bisque;
}
.bn_logo h2 {
    font-size: 52px;
    font-family: 'SUIT Variable', sans-serif;
}
.bn_swiper {
    padding: 20px;

    background-color: bisque;
}
.bn_swiper_content {
    background-color: aqua;
    height: 100%;
    padding: 20px;
}
