@import '../../../index.css';

.gnb {
    padding: 0 100px;
    max-width: 1300px;
    height: 50px;
    display: flex;
    justify-content: space-between;

    align-items: center;
    margin: 20px auto;
}

.gnb_left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.gnb_left img {
    width: 50px;
}

.btn_login button {
    cursor: pointer;
    background-color: var(--yellow);
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
}
